.App {
  text-align: center;
  color: #fff;
  display: flex;
}

@media(min-height: 698px){
  .App{
    height: 100vh;
  }
}

*{margin: 0; padding: 0;}
ul,li{list-style: none;}

aside{
  background: #009999;
  padding: 50px 20px;
  width: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #eeffff;
}

aside>h1, aside>h2, aside>h3{
  margin: 10px 0;
} 

#navigator{
  margin: 30px 0;
}

#navigator button{
  display: block;
  margin: 20px auto;
  padding: 4px 40px;
  background-color: transparent;
  border: 0.5px solid #eeffff;
  color: inherit;
  cursor: pointer;
  font-size: 1.1em;
  outline-color: rgb(222,255,255);
}

#navigator button:hover{
  box-shadow: 0 0 1px 0px #ccffff;
  background-color: rgba(255,255,255,0.1);
}

#navigator button.clicked{
  box-shadow: inset 0 0 0px 0.5px #ccffff;
  background-color: rgba(0,0,0,0.1);
}

aside>.more{
  display: flex;
}

aside>.more>li{
  flex-grow: 1;
  position: relative;
}

aside>.more>li:hover>a{
  color: #ccffff;
}

aside>.more>li>a{
  text-decoration: none;
  color: inherit;
  font-size: 2em;
}

aside>.more>li>p{
  visibility: hidden;
  position: absolute;
  top: -145%;
  left: 0;
  border:1px solid #ccffff;
  color: #ccffff;
  border-radius: 3px;
  padding: 2px 5px 5px;
  background-color: #009999;
}

aside>.more>li>p::before{
  content: '';
  width: 8px;
  height: 8px;
  display: block;
  position: absolute;
  border: inherit;
  border-top: none;
  border-left: none;
  border-radius: none;
  top: 92%;
  left: 40%;
  transform: rotate(45deg);
  background-color: #009999;
}

aside>.more>li:hover>p{
  visibility: visible; 
}

.main{
  flex-grow: 1;
}