.App {
  text-align: center;
  color: #222;
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

*{margin: 0; padding: 0;}
ul,li{list-style: none;}

aside{
  background: #99ccff;
  padding: 50px 20px;
  width: 300px;
}

aside>h1, aside>h2, aside>h3{
  margin: 10px 0;
} 

#navigator{
  margin: 40px 0;
}

#navigator button{
  display: block;
  margin: 20px auto;
  padding: 4px 40px;
  background-color: transparent;
  border: 1px solid #222;
  cursor: pointer;
  font-size: 1.1em;
  outline-color: rgba(255,255,255,0.1);
}

#navigator button:hover{
  box-shadow: 0 0 1px 0px #444;
  background-color: rgba(255,255,255,0.1);
}

#navigator button.clicked{
  box-shadow: inset 0 0 0px 0.5px #444;
  background-color: rgba(0,0,0,0.1);
}

aside>.more{
  display: flex;
}

aside>.more>li{
  flex-grow: 1;
  position: relative;
}

aside>.more>li:hover>a{
  color: #444;
}

aside>.more>li>a{
  text-decoration: none;
  color: inherit;
  font-size: 2em;
}

aside>.more>li>p{
  visibility: hidden;
  position: absolute;
  top: 110%;
  left: 0;
  border:1px solid #555;
  color: #555;
  border-radius: 3px;
}

aside>.more>li>p::before{
  content: '';
  width: 8px;
  height: 8px;
  display: block;
  position: absolute;
  border: inherit;
  border-bottom: none;
  border-right: none;
  border-radius: none;
  top: -5px;
  left: 40%;
  transform: rotate(45deg);
  background-color: #99ccff;
}

aside>.more>li:hover>p{
  visibility: visible; 
}

.main{
  flex-grow: 1;
  background: #ccffff;
}