.Exprience{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.Exprience>h2{
    margin: 20px 0 5px;
}

.Exprience .time{
    font-size: 0.8em;
    font-weight: lighter;
}