.Information{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.contact{
    text-align: left;
}

.Information>*{
    margin: 10px 0;
}

.Information>h3{
    font-size: 1.5em;
}

.Information>.contact>li{
    margin: 5px 0;
    padding-left: 48px;
}

.Information>.contact>li>i{
    font-size: 1.5em;
}