/*****右侧主页面MainPage中的页面组件通用样式*****/
.title{
    /*text-shadow: 1px 2px #fff, 2px 4px #ccffff;*/
    font-size: 3.5em;
    color: #61dafb;
    margin: 20px 0;
    letter-spacing: 3px;
}

.MainPage{
    background: #fff;
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    padding-bottom: 30px;
}

.MainPage a{
    text-decoration: none;
    color: inherit;
}

.MainPage a:hover{
    border-bottom: 1px solid #2d2d2d;
}

.MainPage>.nextPage{
    position: fixed;
    bottom: 15px;
    right: 40px;
    font-size: 1.5em;
    cursor: pointer;
    border: 2px solid #2d2d2d;
    border-radius: 2px;
    background-color: #2d2d2d;
    color: #fff;
    padding: 2px 5px;
}

.MainPage>.nextPage:hover{
    opacity: 0.7;
}