/*****右侧主页面MainPage中的页面组件通用样式*****/
.title{
    text-shadow: 1px 2px #66cccc, 2px 4px #ccffff;
    font-size: 3.5em;
    color: #fff;
    margin: 20px 0;
    letter-spacing: 3px;
}

.MainPage{
    background: #66cccc;
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    padding-bottom: 30px;
}

.MainPage a{
    text-decoration: none;
    color: inherit;
}

.MainPage a:hover{
    border-bottom: 1px solid #ccffff;
}

.MainPage>.nextPage{
    position: fixed;
    bottom: 15px;
    right: 40px;
    font-size: 1.5em;
    cursor: pointer;
    border-bottom: 2px solid #fff;
    padding: 2px;
}